:root{
    --header-height: 5vmax;
}

header{
    position: absolute;
    height: 5vmax;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3vmax;
    z-index: 100;
    /* background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.8px);
    -webkit-backdrop-filter: blur(9.8px); */
}

.logo{
    width: 15vmax;
    cursor: pointer;
    user-select: none;
}

.navbar{
    height: 3vmax;
    width: 25vmax;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}

ul{
    list-style: none;
    display: flex;
    gap: 3vmax;
    user-select: none;
}

ul li.nav-li{
    position: relative;
    display: inline-block;
    font-size: 1vmax;
    color: #0c0c0c;
    font-family: 'Poppins',sans-serif;
    cursor: pointer;
    transition: 0.2s;
}

ul li.nav-li::after{
    position: absolute;
    content: '';
    height: 3px;
    width: 0;
    background-color: #0c0c0c;
    left: 0;
    bottom: -7px;
    transition: 0.2s;
}

ul li.nav-li:hover::after{
    width: 100%;
}


.btnWrpr{
    display: block;
    height: 2.5vmax;
    width: 2.5vmax;
    background-color: transparent;
    background-image: url(../assets/Icons/black.png);
    background-size: cover;
    background-position: center;
    border: none;
    cursor: pointer;
}

.navbarBtn{
    width: 3.7rem;
}

@media (max-width: 600px){

    .navbar-button{
        display: block;
    }

    .navbar{
        display: none;
    }

    .navbar{
        position: absolute;
        top: -5vmax;
        left: 0;
        height: 50rem;
        width: 100%;
        background-color: #131313be;
        transition: 0.3s;
        z-index: -10;
    }
    .navbar-active{
        position: absolute;
        top: var(--header-height);
        left: 0;
        height: 90vh;
        width: 100%;
        background-color: #f5f5f5de;
        transition: 0.3s;
        z-index: -10;
    }

    .header-active{
        background-color: #f5f5f5de;
    }

    ul{
        height: 100%;
        width: 100%;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15vmin;
        flex-direction: column;

    }

    ul li.nav-li{
        font-size: 3vmin;
        font-family: 'Poppins',sans-serif;
        cursor: pointer;
        color: #0c0c0c;
    }
}



@media(min-width: 601px){
    .btnWrpr{
        display: none;
    }
    .navbarBtn{
        display: none;
    }
}